{% extends 'shop/base.html' %}
{% block content %}
<div class="row">
    <div  class="col-md-12">
        
        <ul id="item-list" class="list-group">
           <h3 class="text-center m-3">Voici votre liste </h3>
          </ul>

    </div>
</div>

<div class="row">
    <col-md-12>

    <form  method="POST">
        {% csrf_token %}
        <input type="hidden" id="items" name="items">
        <div class="form-row">
          <div class="form-group col-md-6"  class="">
            <label for="inputEmail4">Nom</label>
            <input type="text" name="nom" class="form-control" id="nom" placeholder="Email">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Email</label>
            <input type="email"   class="form-control" name="email" id="email" placeholder="Password">
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Address</label>
          <input id="address" type="text" name="address" class="form-control"  placeholder="1234 Main St">
        </div>
      
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">Ville</label>
            <input  name="ville" type="text" class="form-control" id="ville">
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Pays</label>
            <select id="pays" name="pays" class="form-control">
              <option selected>Gabon</option>
              <option>Cameroune</option>
              <option>Congo</option>
              <option>Centre afrique</option>
              <option>Tchad</option>
              <option>Guinée équatoriale</option>
              <option> Côte d'Ivoire</option>
              <option>France</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Zip</label>
            <input name="zipcode" id="zipcode" type="text" class="form-control" id="inputZip">
          </div>
        </div>

        <div class="form-group col-md-2">
            <label for="inputZip">SOMME TOTAL A PAYER</label>
            <input name="total" id="total" type="readonly" class=" bg-dark  text-warning form-control" >
          </div>
        </div>
        <div class="form-group">
          
        <button type="submit" class="btn btn-primary">Commander</button>
      </form>

</col-md-12>
</div>


{% endblock%}

{% block js %}
    <script type="text/javascript">
        if(localStorage.getItem('panier') == null){
            var panier = {};

        }else{
            panier = JSON.parse(localStorage.getItem('panier'));
        }

        var total =0;
        var nombre =0;


        for(item in panier){
            let nom = panier[item][1];
            let quantite = panier[item][0];
            let prix = panier[item][2]
            nombre += quantite;
            total += prix;
            let itemString = ` <li class="list-group-item d-flex justify-content-between align-items-center">
              ${nom}
              <span class="badge badge-primary  badge-pill">QTE :${quantite}</span>
                <span class="badge badge-warning badge-pill">${prix}  Fcfa</span>
            </li>`
            $('#item-list').append(itemString);
        }

        let itemNombre = ` <li class="list-group-item d-flex justify-content-between align-items-center">
              <b class="bg-danger">PRIX ET QUANTITE TOTAL </b>
              Quantite:<span class="badge badge-danger  badge-pill">${nombre}</span>
               Total :<span class="badge badge-danger badge-pill">${total}  Fcfa</span>
            </li>`
            $('#item-list').append(itemNombre);
            $('#total').val( total +  "Fcfa");

        $('#items').val(JSON.stringify(panier));

       

    </script>

{% endblock%}