{% extends 'shop/base.html' %}



{% block content %}

<div class="row">
   <div class="col-md-12 ">
    <h3 class="conf ">Bravo Mr/Mrs  <img src="https://media.istockphoto.com/id/1125716911/vector/party-popper-with-confetti.jpg?b=1&s=170x170&k=20&c=p4sPqhw1TBC47bl6NXCBeRQufdm477whX2yaq6hUd6g=" alt=""> {{name}}</h3>
    <h4 class="text-muted m-5 conf">Merci de nous  faire confiance Mr/Mrs   {{name}}    Nous avons bien reçu votre commande, vous seriez livré dans un délai de 1 jour .</h4>
   </div>
</div>

{% endblock%}