{% extends 'shop/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div>
                <img src="{{product_object.image}}"   width="300"  height="400" alt="">
            </div> 
        </div>    

        <div class="col-md-6">

                <div class="text-warning display-3 mt-3">
                    {{product_object.title}}
                </div>

                 <div class="text-danger m-1">
                      prix:  {{product_object.price}} Fcfa
                </div>

                <div  class="">
                        {{product_object.description}}
                </div>
                    <a href=""><button class="btn btn-success">Acheter</button></a>

           </div>
       
    </div>

{% endblock %}